
  
  h1 {
    background-color: rgb(15, 154, 124);
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
   
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #_3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  
  footer {
    background-color: black;
    padding-bottom: 0px;
    font-size:large;
    height:20vh;
  }
  
  pre {
    color: white;
    text-align:center;
    padding-top:10px;
  }
  
  p {
    padding-bottom: 50px;
  }
  
  /* Responsive styles */
  
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 1.2rem;
      height: auto;
    }
  
    #_3 {
      width: 80%;
      margin: 0 auto;
    }
  
    footer {
      padding-bottom:0px;
    }

  
    p {
      padding-bottom: 50px;
    }
  }
  hr{
    padding-bottom:50px;
  }
  .feedback-block{
    padding-bottom:50px; 
    
  }
.ab{
  position: sticky;
  top: 0px;
}
  legend{
    font-style:italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size:25px;
  }
  .feedback-content{
    padding:10px;
  }
  #message{
    height: 100px;
    width: 400px;
  }
  
  
