* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgba(216, 39, 39, 0.1); ;
}

header {
    background-color: rgba(148, 36, 36, 0.8);
    color: wheat;
    height: 0vh;
}

.heading {
    text-align: center;
    background-color: rgba(216, 39, 39, 0.8);
    /* border: 2px solid rgb(107, 57, 21); */
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding-top: 8px;
    font-style: italic;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(103, 206, 238);
}

nav a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .heading {
        height: 12vh;
    }
    
    nav {
        flex-direction: column;
        height: 5vh;
    }
    
    nav a {
        padding: 5px;
    }
}
#_1{
    float:left;
    height:55px;
}
/* #_2{
    float:right;
    height:55px;
} */
footer{
        background-color: black;
        padding-bottom: 0px;
        margin-top: 100px;
        color:white;
        text-align:center;
      
}
.f{
    padding-top:50px;
}
a{
    color:black;
    background-color: transparent;
    text-decoration: none;
}

