* {
    margin: 0;
    padding: 0;
}


h1 {
    padding-top: 8px;
    font-style: italic;
}
header{
  position: sticky;
  top: 0px;
}

@media screen and (max-width: 768px) {
    .heading {
        height: 12vh;
    }
    
    nav {
        flex-direction: column;
        height: 5vh;
    }
    
    nav a {
        padding: 5px;
    }
} 

  
  h1, h2 {
    margin: 0;
  }
  
  h1 {
    background-color:rgb(15, 154, 124);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align:center;
    padding:20px 0px;
    font-style:italic;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  /* Style the navigation menu */
  nav {
    background-color:rgb(15, 154, 124);
    color: #fff;
    padding: 10px;
    margin-bottom: 2px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding:10px;
  }
  
  nav a:hover {
    color: #f5f5f5;
  }
  

#_1{
    float:left;
    height:120px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
.f{
    padding-top:50px;
}

a{
    color:black;
    background-color: transparent;
    text-decoration: none;
}
.dropbtn {
    background-color: rgb(15, 154, 124);
    color: white;
    padding: 10px;
    font-size: 17px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(56, 177, 150);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:5%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:15px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  p{
    padding-top:20px;
    font-family: 'Josefin Sans', sans-serif;

  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
    margin: 20px;
    max-width: 400px;
  }
  #_2{
    height: 20px;
    border-radius:50%;
    margin-top:5px;
  }
  
  #_3{
    height:500px;
    width:60%;
  }
#news-headlines{
  background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
    margin: 20px;
    max-width: 400px;
}
