
.heading {
  text-align: center;
  background-color: #18d87f;
  /* border: 2px solid rgb(107, 57, 21); */
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



#_1{
  float:left;
  height:55px;
}
  h2{
    margin-bottom:15px;
    text-decoration-line: underline;
    text-align: center;

  }
  #login{
    margin:10px;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
.form{
    display:flex;
    justify-content:center;
    margin-top:80px;
}
.new{
  display:flex;
  justify-content:center;
}

a{
    color:rgb(14, 15, 15);
    text-decoration: wavy;
}
a:hover{
    color:rgb(33, 16, 185);
}
fieldset{
  background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 20px;
    margin: 20px;
    max-width: 400px;
}
.block{
  padding-bottom:250px;
}
footer {
  background-color: #333;
  color:white;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
  /* padding-top:300px; */
}
.f{
  padding-top:50px;
}
